$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$large-width: 1365px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$bg-color:#1F1C1D;
$bg-why:#151313;
$no-activ-white:#FFFFFF33;
$command-text:#FFFFFFB8;
$answer-text:#DDD0C3;
$review-comment:#FFFFFFB8;
$modal-brown:#674C33;
$modal-warn:#C7AB91;
$brown-text:#A07B50;
$white-text: #FFFFFF;
$gray-text: #FFFFFF20 ;
$bg-header: #181617;